body {
    background-image: url("/static/images/web-dark.png"); /*from http://subtlepatterns.com */
}

#container {
    background-color: #FFFFFF;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

#logo {
    background-color: #32A500;
    color:#FFFFFF;
    text-align: center;
}

#left-menu{
    min-width: 170px;
    border: 1px dotted blue;
    text-align: center;
    float:left;
}

#main{
    float:left;
    width: 900px;
    text-align: justify;
}

#footer {
    clear: both;
    background-color: #32A500;
    color:#FFFFFF;
    text-align: center;
}

#main{
    margin: 20px;
}

ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
}

ul > li {
    list-style-type: none;
    margin: 10px;
}

.error {
    color: red;
}